PORT=3000

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# PostgreSQL
PG_HOST=localhost
PG_PORT=5432
PG_USER=postgres
PG_PASSWORD=yourpassword
PG_DATABASE=rate_limiter_db

# JWT
JWT_SECRET=your_super_secret_key_change_this_in_production
JWT_EXPIRES_IN=1d
